.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 99%;
    height: 95%;
    min-height: 90%;
}

@media all and (min-width: 1200px) {
    .dashboard-container {
        flex-direction: row;
        justify-content: space-between;
        height: 90%;
    }
}