.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media all and (min-width: 1200px) {
    .dashboard-container {
        flex-direction: row;
    }
}